* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  margin: auto;
  font-family: "Fira Code";
  flex-direction: column;
  font-size: 50px;
}
body > div {
  margin: auto;
}
.btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 12px 25px;
  border-radius: 40px;
  cursor: pointer;
  transition: opacity 0.25s ease;
  min-width: 150px;
}
.btn:hover {
  opacity: 0.85;
}
.btn + .btn {
  margin-left: 15px;
}
.btn--success {
  background-color: #71be34;
}
.btn--warn {
  background-color: #ffb702;
}
.btn--error {
  background-color: #ff623d;
}
.btn--disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.btn--small {
  padding: 7px 15px;
}
.btn--medium {
  padding: 10px 25px;
}
.btn--large {
  padding: 20px 35px;
}
