p {
    font-size: 1.25em;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
}
ul, li  {
    list-style: none;
}
a:hover {
    color: green;
}
#button {
    width: 400px;
    height: 40px;
    clear: both;;
    background-color: cornflowerblue;
    text-align: center;
    line-height: 40px;
    border: 1px solid black;
}
#content {
    margin: 0 auto;
    width: auto;
    border: 2px solid black;
    padding: 25px;
    clear: both;
}